
@font-face {font-family: "iconfont";
  src: url('../fonts/font_401575_bescqslms8rrudi.eot'); /* IE9*/
  src: url('../fonts/font_401575_bescqslms8rrudi.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/a7f412c61df74f04a3e315523ebae4f6.woff') format('woff'),
  url('../fonts/font_401575_bescqslms8rrudi.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/font_401575_bescqslms8rrudi.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dizhi:before { content: "\e644"; }

.icon-guanji:before { content: "\e645"; }

.icon-youxiang:before { content: "\e604"; }

.icon-shenqing:before { content: "\e799"; }

